body {
  line-height: 1.59;
  letter-spacing: 0.24px;
}

main {
  margin-top: 65px;
}

a.signbees-link {
  text-decoration: none;

  &:hover {
    color: $color-primary !important;
  }
}

h2.section-heading {
  font-size: 31px;
  font-weight: 500;
  color: #010101;
}

p.section-sub-heading {
  font-size: 17px;
  color: #515151;
  line-height: 27.1px;
}

// Will modify later
.theme--light.v-application {
  background: #fff !important;
  color: #010101 !important;
}
