body {
  line-height: 1.59;
  letter-spacing: 0.24px;
}

#section-home-banner {
  margin: 0 0;
}

main {
  margin-top: 65px;
}

a.signbees-link {
  text-decoration: none;

  &:hover {
    color: $color-primary !important;
  }
}

a.nuxt-link-exact-active.nuxt-link-active {
  color: $color-primary !important;
}

h2.section-heading {
  font-size: 31px;
  font-weight: 500;
  color: #010101;
}

.section-sub-heading {
  font-size: 17px !important;
  color: #515151 !important;
  line-height: 27.1px !important;
}

.line-above {
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 62px;
    height: 100%;
    border-top: 3px solid $color-primary;
  }
}

.oval {
  display: inline-block;
  width: 10px;
  height: 10px;
  opacity: 0.44;
  border-radius: 100%;
  background-color: #fa711e;
}

// Will modify later
.theme--light.v-application {
  background: #fff !important;
  color: #010101 !important;
}
